In [2]:
import pandas as pd

In [5]:
columns = ["id_code", "level"]
data = pd.read_csv("../train.csv", header=None)
data = data.drop(0)

data.columns = columns
display(data.head())

        id_code level
1  000c1434d8d7     2
2  001639a390f0     4
3  0024cdab0c1e     1
4  002c21358ce6     0
5  005b95c28852     0

In [6]:
data["id_code"] = data["id_code"].apply(lambda x: x + ".png")
data.to_csv("atops_train.csv")
# display(data.tail())