In [16]:
import pandas as pd
import os
import cv2

In [17]:
data = pd.read_csv('../raw/atops_train.csv')

data = data.sample(frac = 1)
data = data.loc[:, ~data.columns.str.contains('Unnamed')]
data = data.reset_index()
display(data)

      index           id_code  level
0      2826  c3cd0200df79.png      3
1         7  00a8624548a9.png      2
2      1118  4ec7796df40e.png      0
3      2556  b0d35981708b.png      2
4       545  26cd40b57ad1.png      0
...     ...               ...    ...
3657   1019  495106ae3b68.png      0
3658   1151  50d8a8fb7737.png      2
3659   3398  ebd96d853918.png      0
3660   2498  ad2f0b9d059c.png      3
3661   1237  55eb405ec71e.png      4

[3662 rows x 3 columns]

In [18]:
train = data.head(2350)
train = train.loc[:, ~train.columns.str.contains('index')]
data = data.drop(train.index)

val = data.head(500)
val = val.loc[:, ~val.columns.str.contains('index')]
data = data.drop(val.index)

test = data
test = test.loc[:, ~test.columns.str.contains('index')]

test = test.reset_index()
train = train.reset_index()
val = val.reset_index()
test = test.loc[:, ~test.columns.str.contains('index')]
val = val.loc[:, ~val.columns.str.contains('index')]
train = train.loc[:, ~train.columns.str.contains('index')]

display(train.head())
display(len(val))
display(len(test))

            id_code  level
0  c3cd0200df79.png      3
1  00a8624548a9.png      2
2  4ec7796df40e.png      0
3  b0d35981708b.png      2
4  26cd40b57ad1.png      0

500

812

In [19]:
train.to_csv("../dataset/imbalance_train.csv", index=None)
test.to_csv("../dataset/imbalance_test.csv", index=None)
val.to_csv("../dataset/imbalance_val.csv", index=None)